@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    margin: 0;
    font-family: "Inter",sans-serif;
}

header {
    z-index: 10 !important;
}
/* @media (min-width: 768px) {
    .md\:flex {
        display: flex;
    }

    .md\:bg-transparent {
        background-color: transparent;
    }
} */
